
.servant[id="100"] span {
    transform: scaleX(0.728813);
}
.servant[id="103"] span {
    transform: scaleX(0.924731);
}
.servant[id="002"] span {
    transform: scaleX(0.656488);
}
.servant[id="003"] span {
    transform: scaleX(0.469945);
}
.servant[id="004"] span {
    transform: scaleX(0.488636);
}
.servant[id="005"] span {
    transform: scaleX(0.819047);
}
.servant[id="007"] span {
    transform: scaleX(0.597222);
}
.servant[id="009"] span {
    transform: scaleX(0.924731);
}
.servant[id="018"] span {
    transform: scaleX(0.819047);
}
.servant[id="020"] span {
    transform: scaleX(0.637037);
}
.servant[id="032"] span {
    transform: scaleX(0.924731);
}
.servant[id="033"] span {
    transform: scaleX(0.547770);
}
.servant[id="034"] span {
    transform: scaleX(0.924731);
}
.servant[id="035"] span {
    transform: scaleX(0.924731);
}
.servant[id="036"] span {
    transform: scaleX(0.547770);
}
.servant[id="037"] span {
    transform: scaleX(0.569536);
}
.servant[id="043"] span {
    transform: scaleX(0.819047);
}
.servant[id="061"] span {
    transform: scaleX(0.508875);
}
.servant[id="065"] span {
    transform: scaleX(0.819047);
}
.servant[id="066"] span {
    transform: scaleX(0.597222);
}
.servant[id="071"] span {
    transform: scaleX(0.728813);
}
.servant[id="072"] span {
    transform: scaleX(0.728813);
}
.servant[id="073"] span {
    transform: scaleX(0.411483);
}
.servant[id="077"] span {
    transform: scaleX(0.924731);
}
.servant[id="078"] span {
    transform: scaleX(0.469945);
}
.servant[id="079"] span {
    transform: scaleX(0.547770);
}
.servant[id="080"] span {
    transform: scaleX(0.924731);
}
.servant[id="081"] span {
    transform: scaleX(0.728813);
}
.servant[id="087"] span {
    transform: scaleX(0.924731);
}
.servant[id="090"] span {
    transform: scaleX(0.534161);
}
.servant[id="098"] span {
    transform: scaleX(0.811320);
}



/*New*/
.servant[id="100"] span { 
    transform-origin: left center;  
    transform: scaleX(.694915254
);
}

.servant[id="101"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="102"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="103"] span { 
    transform-origin: left center;  
    transform: scaleX(0.881720430);
}

.servant[id="104"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="105"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="002"] span { 
    transform-origin: left center;  
    transform: scaleX(0.625954198);
}

.servant[id="003"] span { 
    transform-origin: left center;  
    transform: scaleX(0.448087431);
}

.servant[id="004"] span { 
    transform-origin: left center;  
    transform: scaleX(0.465909090);
}

.servant[id="005"] span { 
    transform-origin: left center;  
    transform: scaleX(0.780952380);
}

.servant[id="006"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="007"] span { 
    transform-origin: left center;  
    transform: scaleX(0.569444444);
}

.servant[id="008"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="009"] span { 
    transform-origin: left center;  
    transform: scaleX(0.881720430);
}

.servant[id="010"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="011"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="012"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="013"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="014"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="015"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="016"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="017"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="018"] span { 
    transform-origin: left center;  
    transform: scaleX(0.780952380);
}

.servant[id="019"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="020"] span { 
    transform-origin: left center;  
    transform: scaleX(0.607407407);
}

.servant[id="021"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="022"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="023"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="024"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="025"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="026"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="027"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="028"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="029"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="030"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="031"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="032"] span { 
    transform-origin: left center;  
    transform: scaleX(0.881720430);
}

.servant[id="033"] span { 
    transform-origin: left center;  
    transform: scaleX(0.522292993);
}

.servant[id="034"] span { 
    transform-origin: left center;  
    transform: scaleX(0.881720430);
}

.servant[id="035"] span { 
    transform-origin: left center;  
    transform: scaleX(0.881720430);
}

.servant[id="036"] span { 
    transform-origin: left center;  
    transform: scaleX(0.522292993);
}

.servant[id="037"] span { 
    transform-origin: left center;  
    transform: scaleX(0.543046357);
}

.servant[id="038"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="039"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="040"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="041"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="042"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="043"] span { 
    transform-origin: left center;  
    transform: scaleX(0.780952380);
}

.servant[id="044"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="045"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="046"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="047"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="048"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="049"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="050"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="051"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="052"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="053"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="054"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="055"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="056"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="057"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="058"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="060"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="061"] span { 
    transform-origin: left center;  
    transform: scaleX(0.485207100);
}

.servant[id="062"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="063"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="064"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="065"] span { 
    transform-origin: left center;  
    transform: scaleX(0.780952380);
}

.servant[id="066"] span { 
    transform-origin: left center;  
    transform: scaleX(0.569444444);
}

.servant[id="067"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="068"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="069"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="070"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="071"] span { 
    transform-origin: left center;  
    transform: scaleX(0.694915254);
}

.servant[id="072"] span { 
    transform-origin: left center;  
    transform: scaleX(0.694915254);
}

.servant[id="073"] span { 
    transform-origin: left center;  
    transform: scaleX(0.392344497);
}

.servant[id="074"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="075"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="076"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="077"] span { 
    transform-origin: left center;  
    transform: scaleX(0.881720430);
}

.servant[id="078"] span { 
    transform-origin: left center;  
    transform: scaleX(0.448087431);
}

.servant[id="079"] span { 
    transform-origin: left center;  
    transform: scaleX(0.522292993);
}

.servant[id="080"] span { 
    transform-origin: left center;  
    transform: scaleX(0.881720430);
}

.servant[id="081"] span { 
    transform-origin: left center;  
    transform: scaleX(0.694915254);
}

.servant[id="082"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="084"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="085"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="086"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="087"] span { 
    transform-origin: left center;  
    transform: scaleX(0.881720430);
}

.servant[id="088"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="089"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="090"] span { 
    transform-origin: left center;  
    transform: scaleX(0.509316770);
}

.servant[id="091"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="092"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="094"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="095"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="097"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}

.servant[id="098"] span { 
    transform-origin: left center;  
    transform: scaleX(0.773584905);
}

.servant[id="099"] span { 
    transform-origin: left center;  
    transform: scaleX(0.953488372);
}
