/* 整體捲軸寬度 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* 捲軸背景（完全透明） */
::-webkit-scrollbar-track {
  background: transparent;
}

/* 捲軸本體 */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15); /* 半透明 */
  border-radius: 999px;
  transition: background-color 0.3s;
}

/* 滑過時稍微明顯一點 */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.fab {
  position: fixed;
  right: 24px;
  bottom: 24px;

  width: 48px;
  height: 48px;

  z-index: 9999;
}

/* 主按鈕 */
.fab-main {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;

  background: rgba(20,20,20,.4);
  color: #fff;
  font-size: 18px;
  cursor: pointer;

  box-shadow: 0 8px 20px rgba(0,0,0,.35);
  position: relative;
  z-index: 2;

  transition: transform .25s ease;
}

.fab-main:hover {
  background: rgba(20,20,20,.8);
}


/* 子按鈕（關鍵：中心對齊） */
.fab-item {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background: rgba(20,20,20,.8);
  color: #fff;
  font-size: 16px;
  cursor: pointer;

  box-shadow: 0 6px 16px rgba(0,0,0,.3);

  opacity: 0;
  pointer-events: none;
  transform: scale(.8);

  transition:
    transform .25s ease,
    opacity .25s ease;
}

/* 展開 */
.fab.open .fab-item {
  opacity: 1;
  pointer-events: auto;
}

/* 向上 */
.fab.open .fab-up {
  transform: translateY(-64px);
}

/* 向左 */
.fab.open .fab-left {
  transform: translateX(-64px);
}

/* 主按鈕旋轉（保留前版手感） */
.fab.open .fab-main {
  transform: rotate(360deg);
  background: rgba(20,20,20,.8);
}

.fab-main,
.fab-item {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;


  background: radial-gradient(circle, #d6b56c, #6f5528);
  color: #fff;
  box-shadow: 0 0 12px rgba(214,181,108,.6);
}

/* 主按鈕 */
.fab-main {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;

  background: rgba(20,20,20,.4);
  color: #fff;
  font-size: 18px;
  cursor: pointer;

  box-shadow: 0 8px 20px rgba(0,0,0,.35);
  position: relative;
  z-index: 2;

  transition: transform .25s ease;
}

.fab-main:hover {
  background: rgba(20,20,20,.8);
}

.fab-item i,
.fab-main i {
  font-size: 18px;
}

a.fab-item:hover {
    color: gold;
}
